/* Reset Basico */

* {
padding: 0;
margin: 0;
box-sizing: border-box;

}

/* Propiedades Personalizadas */

:root {
  /* Fuentes */
  --font-primary: "Google Sans" , sans-serif;

  /* Color de Fondos */
  --bg-body: #5e073d; 
  --bg-container: #eb3360;
  --border-container: #ffa259;

  /* colores de texto */
  --text-primary: #f5f5f5;
  --text-secondary: #a0a0a5;


  /* Espacios */
  --space-1: 1rem;
  --space-n: .8rem;
  --space-s: .5rem;

  /* bordes */
  --border-radius: 4px;
  --border-container: 2px;
  --border-container: #3a3b40;
}

body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  font-family: var(--font-primary);
  padding: var(--space-1);
  background-color: var(--bg-body);
}

.contenedor {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);

  width: 100%;
  max-width: 640px;
  height: fit-content;

  padding: var(--space-n);

  border-width: var(--border-size);
  border-style: solid;
  border-color: var(--border-container);
  
  border-radius: var(--border-radius);
  background-color: var(--bg-container);
}

.titulo {
  font-size: 1.6rem;
  color: var(--text-primary);
}

.mensaje {
  font-size: 1rem;
  color: var(--text-secondary);
}

.tarea-entrada {
  width: 100%;
  font-size: 1.2rem;
  padding: var(--space-1);
  border-radius: var(--border-radius);
  border: none;
}